.kist-DialogBackdrop:after {
	content:'';
	position:fixed; top:0; right:0; bottom:0; left:0;
	background:rgba(0,0,0,0.1);
}
.kist-Dialog {
	position:relative; z-index:10;
	background:pink;
}
.kist-Dialog.is-hidden {
	display:none;
}
.kist-Dialog.is-visible {
	display:block;
	border:3px solid red;
}
